# Archivos de compilación
bin/
obj/
*.exe
*.dll
*.pdb
*.cache
*.log

# Archivos de usuario y configuraciones locales
*.user
*.suo
*.userosscache
*.sln.docstates
*.uid

# Configuraciones temporales
.vs/
.idea/
.DS_Store

# Archivos de Godot generados automáticamente
.import/
.export/
.exported/
.godot/

# Otros
Thumbs.db


